.kaufman__triangle {
    height: 877px;
    width: 877px;
    background-image: url('../../../images/kaufman-triangle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    position: absolute;
    right: -210px;
    top: 0;
    z-index: -1;
    /*Треугольник неравносторонний. Поэтому нет смысла двигать его относительно элемента kaufman__triangle, нужно изменить ось вращения. Для этого необходимы координаты центра треугольника. В SVG файле есть координаты вершин треугольника (A (248, 717) B(499, 0) C (994 576)).
    Находим центр треугольника, изображённого в SVG (x=580, Y=431). В коде использовано свойство bacground-size: contrain, которое сохраняет пропорции рисунка. Рассчитаем соотношение сторон X и Y SVG и элемента kaufman__triangle. Получается, что при масштабировании координата X уменьшается в 1.1345 раза, а Y в 1.147 раза. Таким образом получаем координаты нового центра вращения Z(511, 376) и устанавливаем его с помощью свойства transform-origin*/
    transform-origin: 511px 376px;
  }